*.org
*.old
make-3.80
make-make-3.80/*
!make-make-3.80/*.sh
gmp-6.1.1
make-gmp-6.1.1/*
!make-gmp-6.1.1/*.sh
mpfr-3.1.4
make-mpfr-3.1.4/*
!make-mpfr-3.1.4/*.sh
mpc-1.0.3
make-mpc-1.0.3/*
!make-mpc-1.0.3/*.sh
isl-0.12.2
make-isl-0.12.2/*
!make-isl-0.12.2/*.sh
cloog-0.18.1
make-cloog-0.18.1/*
!make-cloog-0.18.1/*.sh
autoconf-2.64
make-autoconf-2.64/*
!make-autoconf-2.64/*.sh
automake-1.11.1
make-automake-1.11.1/*
!make-automake-1.11.1/*.sh
gperf-3.0.4
make-gperf-3.0.4/*
!make-gperf-3.0.4/*.sh
libiconv-1.14
make-libiconv-1.14/*
!make-libiconv-1.14/*.sh
!make-libiconv-1.14/*.patch
bison-3.0.4
make-bison-3.0.4/*
!make-bison-3.0.4/*.sh
flex-2.6.0/
make-flex-2.6.0/*
!make-flex-2.6.0/*.sh
gcc-4.9.2
make-gcc-4.9.2/*
!make-gcc-4.9.2/*.sh
isl-0.11.1
make-isl-0.11.1/*
!make-isl-0.11.1/*.sh
cloog-0.18.0
make-cloog-0.18.0/*
!make-cloog-0.18.0/*.sh
gcc-4.8.0
make-gcc-4.8.0/*
!make-gcc-4.8.0/*.sh
!make-gcc-4.8.0/*.patch
ppl-0.11
make-ppl-0.11/*
!make-ppl-0.11/*.sh
gmp-4.3.2
make-gmp-4.3.2/*
!make-gmp-4.3.2/*.sh
cloog-0.16.1
make-cloog-0.16.1/*
!make-cloog-0.16.1/*.sh
polylib-5.22.5
make-polylib-5.22.5/*
!make-polylib-5.22.5/*.sh

perl-5.6.1
make-perl-5.6.1
dejagnu-1.4.4
make-dejagnu-1.4.4
guile-2.1.3
make-guile-2.1.3
gcc-4.7.0
make-gcc-4.7.0
gcc-4.5.0
make-gcc-4.5.0
gcc-4.6.0
make-gcc-4.6.0
gcc-4.7.2
make-gcc-4.7.2
cloog-ppl-0.15.11
make-cloog-ppl-0.15.11

